@font-face {
  font-family: 'MiFuente';
  src: url('fuentes/determination-mono.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'MyCustomFont', sans-serif;
  font-size: 3rem;
  color: #ffc60c;
  text-align: center;
  margin-top: 50px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
}